.main{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    margin-top: 150px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.margin-field{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.message-text{
    font-size: 11px;
    color: darkgray!important;
    margin-top: 0!important;
    margin-left: 30px;

}