.main{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    margin-top: 150px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.margin-field{
    margin: 25px;
}

hr.rounded {
    border-top: 2px solid darkgray;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
  }
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    margin-top: 2%;
  }