<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>CHANGE PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-input class="margin-field" placeholder="Input Old Password" [(ngModel)]="old_pass" type="password"></ion-input>
    <ion-input class="margin-field" placeholder="Input New Passowrd" [(ngModel)]="new_pass" type="password"></ion-input>
    <ion-input class="margin-field" placeholder="Confirm New Passowrd" [(ngModel)]="conf_pass" type="password"></ion-input>
    <ion-button class="margin-field" expand="block" (click)="changePassword()">CHANGE PASSWORD</ion-button>
  </div>
</ion-content>
