.main{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-field{
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 9px;
    margin-left: 9px;
}

.margin-field-select{
  margin: 0px, 15px, 25px, 15px;
}

.add-margin{
    margin-right: 5px;
}

.add-button-margin{
    margin-left: 10px;
}

.display-end{
    display: flex;
    justify-content: flex-end;
}

.spacer-top {
    margin-top: 50px;
}

.large-icon{
    font-size: 32px;
}

.number-count{
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
}