.main{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-field{
    margin: 25px;
}

.margin-field-select{
    margin: 17px;
}

.imagetoUp{
    max-width: 250px!important;
    height: auto;
    margin-top: 10px;
}

.center{
    display: flex;
    justify-content: center;
}

.uploader-class{
    margin-left: 25px;
}