.main{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-field{
    margin: 25px;
}

.margin-field-select{
    margin: 17px;
}

.logo{
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

hr.rounded {
    border-top: 2px solid darkgray;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
  }